* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* border: 2px solid red; */
}

body {
    width: 9.5in;
    margin: auto;
    color: #575757;
    background-color: #575757;
}

.outer {
    background-color: #ffffff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.outsider {
    background-color: #575757;
    height: 35px;
}

.topside {
    background-color: #575757;
    height: 35px;
}

.top {
    width: 792px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #575757;
}

h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 14px;
    font-size: 38px;
    padding-top: .45in;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: .15in;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 35px;
    letter-spacing: 3px;
}

h3, .special {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Hanken Grotesk', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 17px;
}

.special {
    border-top: 1px dashed #575757;
    padding-top: 18px;
}

h4 {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 9px;
    font-size: 13px;
}

.first {
    margin-top: 10px;    
}

.skills {
    border-top: 1px dashed #575757;
    padding-top: 18px;
    margin-bottom: 0px;
}

p, .contacts, .other {
    font-size: 12.5px;
}

.contacts {
    margin-top: 8px;
    display: inline-flex;
    align-items: center;
}

.other {
    margin-top: 2px;
}

.skillset {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-size: 12.5px;
    padding-top: 2px;
}

ul {
    list-style-position: outside;
    padding-left: 1.2em;
}

.container {
    display: flex;
}

.left {
    padding-left: 60px;
    padding-right: 20px;
    background-color: #f1f1f1;
    flex-grow: 1;
}

.right {
    background-color: #ffffff;
    padding-left: 25px;
    padding-right: 70px;
    width: 50%;
}

.alignleft {
    float: left;
    font-weight: normal;
}

.alignright {
    float: right;
    font-weight: normal;
}

#textbox {
    margin-bottom: 10px;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
    margin-right: 10px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.grow {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    color: steelblue;
}

a, a:visited {
    color: inherit;
}

